.navBar {
  display: inline-flex;
}

.link {
  margin: 1rem;
  color: white;
  font-weight: bold;
  padding: 10px;
  background-color: white;
}

.search {
  padding-top: 100px;
}

.search {
  text-align: center;
}

* {
  background-color: #343a3f;
  color: aliceblue;
}

.title {
  text-align: center;
  color: #027bff;
}
