.navBar {
  display: inline-flex;
}

.link {
  margin: 1rem;
  color: white;
  font-weight: bold;
  padding: 10px;
  background-color: white;
}

.search {
  padding-top: 100px;
}

.search {
  text-align: center;
}

* {
  background-color: #ffffff;
  font-size: large;
    color: #e16853;
}

.title {
  text-align: center;
  color: #e16853;
}
button{
  color: #e16853;
}
